body {
  padding-top: 50px;
}
.starter-template {
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
}
/* Colours for the bootstrap navbar */
/* ******************************** */
.navbar-default {
  background-color: #7092be;
  border-color: #145ebe;
}
.navbar-default .navbar-brand {
  color: #e0eaf6;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #e0eaf6;
}
.navbar-default .navbar-nav > li > a {
  color: #e0eaf6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #145ebe;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #145ebe;
}
.navbar-default .navbar-toggle {
  border-color: #145ebe;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #145ebe;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e0eaf6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e0eaf6;
}
.navbar-default .navbar-link {
  color: #e0eaf6;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e0eaf6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #145ebe;
  }
}

/* Other modifications */
/* ******************* */
.navbar-twitterbutton {
  margin-bottom: 0px;
}

.openrem-logo {
  margin-right: 15px;
}

.openrem-version {
  padding-top: 10px;
}

.openrem-footer {
  text-align: center;
  padding: 10px;  
}


.tooltip-inner {
   white-space:pre-wrap;
    max-width: 350px;
   }

body {
  font-family: oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


