:root {
  --r-heading-text-transform: none;
}

body:after {
  content: url(../images/Logo.png);
  position: fixed;
  top: 1.5em;
  left: 3.5em;
}
  
footer {
  font-family: League-gothic,sans-serif;
  display: block;
  position: absolute;
  bottom: 1em;
  left: 3.5em;

  z-index: -1;
  color: black;
}

.reveal small {
	vertical-align: middle;
}